* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 10px 0;
}

p {
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

.post {
    width: 90%;
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin-bottom: 15px; /*hogy el legyenek egymástól választva ezek a post-ok*/
}

.tags {
    display: flex;
    justify-content: left;
}

.tag {
    background-color: #aaf0f5;
    border: 1px solid #88bfc3;
    padding: 5px;
    margin: 5px 5px 0 0;
    border-radius: 4px;
}